<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/q9"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/http_set"
        android:roundIcon="@mipmap/q9"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".Activity.weikaifa"></activity>
        <activity android:name=".Activity.xinwne" />
        <activity android:name=".Activity.paihangbang" />
        <activity android:name=".Activity.ceshiti" />
        <activity android:name=".Activity.Tianqi" />
        <activity android:name=".Activity.Aishitu" />
        <activity android:name=".Activity.fenlei4" />
        <activity android:name=".Activity.fenlei3" />
        <activity android:name=".Activity.fenlei2" />
        <activity android:name=".Activity.fenlei1" />
        <activity android:name=".Activity.guanggao">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.wangjimima" />
        <activity android:name=".Activity.Register" />
        <activity android:name=".Activity.shipin" />
        <activity android:name=".Activity.gerenxinxi" />
        <activity android:name=".Activity.dati" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.StartActivity" />
        <activity android:name=".Activity.MainActivity">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.shiwu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>